streamlit
wikipedia-api
googlesearch-python
beautifulsoup4
gTTS
requests
tensorflow
torch
torchvision
torchaudio
spacy
nltk
numpy
pandas
flask
fastapi
jax
jaxlib
accelerate
deepspeed
transformers
diffusers
langchain
llamaindex
uvicorn
opencv-python
scipy
onnx
insightface
